#about {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 200;
}

.about-left {
  height: 100vh;
  width: 50%;
  background-color: #1DABB8;
  background-image: url('/assets/images/bg-about-avatar.jpg');
  background-blend-mode: difference;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center !important;
  color: #fff;
}

.about-avatar-box {
  width: 200px;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  margin: 0 auto;
}

.about-avatar {
  border-radius: 50%;
  width: 100%;
  margin: 0 auto;
  display: block;
  box-shadow: 1px 1px 2px $black;
  object-fit: cover;
}

.about-title-box {
  width: 265px;
}

.about-title {
  font-size: 7em;
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 1px $black;
}

.hover-text {
  position: absolute;
  top: 30px;
  left: 130px;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  color: black;
  opacity: 0.4;
}

.hover-text:after {
  content: '';
  position: absolute;
  left: 25px;
  top: 10px;
  height: 80px;
  width: 80px;
  background-image: url('/assets/images/arrow.png');
  background-size: cover;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.about-content-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.about-nav {
  width: 100%;
}

.about-nav-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-nav-list-item {
  color: #fff;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px $black;
}

.about-nav-list-span {
  color: $black;
  font-size: 1.5em;
}

.about-nav-list-item:hover {
  color: $black;
}

.about-rigth {
  background-color: #fff;
  overflow-y: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: auto;
  width: 50%;
  justify-content: center;
}

.about-content-rigth {
  width: 80%;
  margin-top: 5%;
}

.skills-list {
  list-style: none;
}
