#welcome {
  height: calc(100vh - 40px);
  width: 100%;
  background-size: cover;
  background-image: url('/assets/images/bg-welcome-intro.jpg');
  background-position: top center;
  background-color: $black;
  background-blend-mode: luminosity;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.welcome-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  border-top: 2px solid $black;
}

.intro {
  background-color:rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 65%;
}

.heading {
  color: #fff;
}

.heading-text {
  font-size: 7em;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}

.small-text {
  font-size: 3em;
  position: absolute;
  left: 38%;
  top: 35%;
  text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}

.welcome-content2 {
  height: 30%;
  background-image: url('/assets/images/footer_lodyas.png');
  background-size: cover;
  background-blend-mode: difference;
  background-color: $blue;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-sell {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 55%;
  align-items: center;
  height: 90%;
}

.welcome-sell-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  color: #fff;
}

.welcome-sell-list-item-link, .welcome-icon {
  color: #fff;
  text-shadow: 1px 1px 2px $black;
  transition: 0.5s ease;
  &:hover {
    color: $black;
    transform: scale(1.5);
  }
}
