<section id="about">
  <div class="about-left">
    <div class="about-content-left">
      <div class="about-avatar-box">
        <img src="/assets/images/avatar.jpg" class="about-avatar">
      </div>
      <div class="about-title-box">
        <h1 class="about-title">About</h1>
      </div>
      <div class="about-nav">
        <nav class="about-nav-box">
          <ul class="about-nav-list">
            <li>
              <a class="about-nav-list-item" href="/about#bio">Bio</a>
            </li>
            <span class="about-nav-list-span">/</span>
            <li>
              <a class="about-nav-list-item" href="/about#education">Education</a>
            </li>
            <span class="about-nav-list-span">/</span>
            <li>
              <a class="about-nav-list-item" href="/about#skills">Skills</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="about-rigth">
    <div class="about-content-rigth">
      <section id="bio">
        <h1>Bio</h1>
        <h4>I am a Web Developer from Canada, who love JavaScript</h4>
        <p>
          My name is Emanuel Quimper, I'm from Quebec Canada. Recently, I graduated from Thinkful's Full Stack Career Path program. Thanks to my experience in the army, my approach to any task I undertake is mature and responsible.
        </p>
        <p>
          When given an independent project, I am able to make decisions quickly and efficiently. However, because of my military experience, I am able to work easily with others to achieve our team's goals and objectives. I am excellent in working with others to achieve a certain objective on time and with excellence, thanks to my 7 years in the army.
        </p>
        <p>
          Most importantly, I challenge myself to learn and develop both personally and professionally. You can watch me code live almost every day on <a href="https://www.livecoding.tv/equimper/" target="_blank">LiveCoding.tv</a>
        </p>
        <br />
      </section>
      <section id="education">
        <h1>Education</h1>
        <h4>Thinkful</h4>
        <h5>March 2016 - May 2016</h5>
        <p>
          In March 2016, I started the Career Path program at <a href="https://www.thinkful.com">Thinkful</a>, where I learned Full Stack Web Development. The journey started with the basics in web development, and with the following technologies specifically:
          <ul>
            <li>Html5</li>
            <li>Css3</li>
            <li>jQuery</li>
          </ul>
        </p>
        <p>
          After becoming comfortable with those tools, I jumped into vanilla JavaScript. It was then that I realized how much I loved programming in JavaScript. After this, I started working with these tools as well:
          <ul>
            <li>Angular</li>
            <li>Node Js</li>
            <li>React</li>
            <li>Redux</li>
          </ul>
        </p>
        <br />
      </section>
      <br />
    </div>
  </div>
</section>
