<section id="about">
  <div class="about-left">
    <div class="about-content-left">
      <div class="about-avatar-box ui circular rotate reveal image" style="height: 200px, width:200px">
        <img src="https://cldn0.fiverrcdn.com/fiverr/t_message_attachment_medium/message_attachements/75141817/original/Attachmen22_copy.jpg" class="visible content about-avatar" style="height: 100%">
        <img src="/assets/images/avatar.jpg" class="hidden content about-avatar">
      </div>
      <div class="hover-text">
        hover me
      </div>
      <div class="about-title-box">
        <h1 class="about-title">About</h1>
      </div>
      <div class="about-nav">
        <nav class="about-nav-box">
          <ul class="about-nav-list">
            <li>
              <a class="about-nav-list-item" href="/about#bio">Bio</a>
            </li>
            <span class="about-nav-list-span">/</span>
            <li>
              <a class="about-nav-list-item" href="/about#education">Education</a>
            </li>
            <span class="about-nav-list-span">/</span>
            <li>
              <a class="about-nav-list-item" href="/about#skills">Skills</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="about-rigth">
    <div class="about-content-rigth">
      <section id="bio">
        <h1>Bio</h1>
        <h4>I am a Web Developer from Canada, who love JavaScript</h4>
        <p>
          My name is Emanuel Quimper, I'm from Quebec Canada. Recently, I graduated from Thinkful's Full Stack Career Path program. Thanks to my experience in the army, my approach to any task I undertake is mature and responsible.
        </p>
        <p>
          When given an independent project, I am able to make decisions quickly and efficiently. However, because of my military experience, I am able to work easily with others to achieve our team's goals and objectives. I am excellent in working with others to achieve a certain objective on time and with excellence, thanks to my 7 years in the army.
        </p>
        <p>
          Most importantly, I challenge myself to learn and develop both personally and professionally. You can watch me code live almost every day on <a href="https://www.livecoding.tv/equimper/" target="_blank">LiveCoding.tv</a>
        </p>
        <br />
      </section>
      <section id="education">
        <h1>Education</h1>
        <h4>Thinkful</h4>
        <h5>March 2016 - May 2016</h5>
        <p>
          In march 2016, I've start the career path at <a href="https://www.thinkful.com">Thinkful</a> where I learn to be a Full-Stack-Web-Developer. The journey start with the basic in web development with this technologies:
          <ul>
            <li>Html5</li>
            <li>Css3</li>
            <li>jQuery</li>
          </ul>
        </p>
        <p>
          After I assimilate all this tools I start jumping on vanilla JavaScript. This is when I know this is what I like the more. In this time I have start working with:
          <ul>
            <li>Angular</li>
            <li>Node Js</li>
            <li>React</li>
            <li>Redux</li>
          </ul>
        </p>
        <br />
      </section>
      <br />
      <section id="skills">
        <h1>Skills</h1>
        <h4>Technologies I work the most</h4>
        <ul class="skills-list">
          <br>
          <li>
            {{#ui-progress percent=85 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">JavaScript</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=75 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">React</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=65 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">Redux</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=75 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">Node Js</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=70 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">Ember</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=60 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">Ruby On Rails</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=75 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">jQuery</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=80 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">CSS</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=75 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">Flexbox</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=95 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">Html5</div>
            {{/ui-progress}}
          </li>
          <br>
          <li>
            {{#ui-progress percent=80 classNames="teal indicating"}}
              <div class="bar"></div>
              <div class="label">SCSS</div>
            {{/ui-progress}}
          </li>
          <br>
        </ul>
        <h4>Other tools I use</h4>
        <ul>
          <li>Grunt</li>
          <li>Gulp</li>
          <li>Webpack</li>
        </ul>
      </section>
    </div>
  </div>
</section>
