<section id="welcome">
  <div class="welcome-content">
    <div class="intro">
      <div class="heading">
        <h1 class="heading-text">Welcome to my world!</h1>
      </div>
    </div>
  </div>
  <div class="welcome-content2">
    <div class="welcome-sell">
      <ul class="welcome-sell-list">
        <li>
          {{#link-to 'portfolio' class="welcome-sell-list-item-link"}}
            <i class="huge desktop icon welcome-icon" />
            <br>
            <br>
            <h4>My portfolio</h4>
          {{/link-to}}
        </li>
        <li class="welcome-sell-list-item">
          <a href="http://equimper.github.io/" target="_blank" class="welcome-sell-list-item-link">
            <i class="huge keyboard icon welcome-icon" />
            <br>
            <br>
            <h4>Help people learning programming</h4>
          </a>
        </li>
        <li>
          {{#link-to 'services' class="welcome-sell-list-item-link"}}
            <i class="huge heart icon welcome-icon" />
            <br>
            <br>
            <h4>I offer my services</h4>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</section>
