<div class="ui secondary pointing menu navbar">
  {{!-- {{#link-to 'index' class="item"}}Emanuel {{/link-to}} --}}
  {{!-- <a class="item">My Website</a> --}}
  <div class="right menu">
    {{#link-to 'index' class="item"}}Home{{/link-to}}
    {{#link-to 'portfolio' class="item"}}Showcase{{/link-to}}
    {{#link-to 'services' class="item"}}Services{{/link-to}}
    <a href="http://equimper.github.io/" target="_blank" class="item">Blog</a>
    {{#link-to 'about' class="ui item"}}About{{/link-to}}
    {{#link-to 'contact' class="ui item"}}Contact{{/link-to}}
  </div>
</div>
